﻿
@model IEnumerable<onlineBooks_Models.Category>

<div class="container p-3 bg-white">
    <div class="row pt-3">
        <div class="col-10">
            <h3 class="text-primary">Category List</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create"><i class="fas fa-plus"></i> &nbsp; New Category</a>
        </div>
    </div>
    <br>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width : 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Display Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="40%">@obj.Name</td>
                        <td width="40%">@obj.DisplayOrder</td>
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-primary mx-2" asp-route-Id="@obj.Id" asp-controller="Category" asp-action="Edit">
                                    <i class="fas fa-edit"></i> &nbsp;
                                </a>
                                <a class="btn btn-danger mx-2" asp-route-Id="@obj.Id" asp-controller="Category" asp-action="Delete">
                                    <i class="fas fa-trash-alt"></i> &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No categories found!!</p>
    }
</div>
