﻿@model List<product>

@using onlineBooks_Utility

@if (Model.Count() > 0)
{
<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container row">
            <div class="col -8">
                <div class="card mt-4">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-action="Clear" class="btn btn-outline-warning btn-sm">Clear Cart</a>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row" style="color:#821f3d">
                                <div class="col-lg-2">
                                </div>
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <div class="col-12 col-lg-3">
                                        Product Details
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-lg-7">
                                        Product Details
                                    </div>
                                }
                                <div class="col-12 col-lg-2">
                                    Price per sqft
                                </div>
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <div class="col-6 col-lg-2">
                                        Sqft
                                    </div>
                                    <div class="col-6 col-lg-2">
                                        Total Price
                                    </div>
                                }
                                <div class="col-6 col-sm-4 col-lg-1">
                                </div>
                            </div>
                        </div>

                        <hr />
                        @{
                            var orderTotal = 0.0;
                        }
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <input hidden asp-for="@Model[i].Id" />
                            <div class="row h-100">
                                <div class="col-4 col-md-2 text-center py-2">
                                    <img src="@WC.ImagePath@Model[i].Image" class="rounded" width="100%" />
                                </div>
                                @if (User.IsInRole(WC.AdminRole))
                                {

                                    <div class="col-8 col-lg-3">
                                        <h5>@Model[i].Name</h5>
                                        <div style="font-size:11px;">@Model[i].ShortDesc</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-8 col-lg-7">
                                        <h5>@Model[i].Name</h5>
                                        <div style="font-size:11px;">@Model[i].ShortDesc</div>
                                    </div>
                                }
                            <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                <span style="font-size:17px;">@((Model[i].Price).ToString("c"))</span>/ sqft
                                
                            </div>
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <div class="col-4 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <input type="text" asp-for="@Model[i].TempSqFt" class="form-control" />
                                        <span asp-validation-for="@Model[i].TempSqFt" class="text-danger"></span>
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> @((Model[i].Price* Model[i].TempSqFt).ToString("c"))</span>


                                    </div>
                                }
                                <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                    <a asp-action="Remove" asp-route-id="@Model[i].Id" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            orderTotal += Model[i].Price * Model[i].TempSqFt;
                            <hr />
                        }

                        @if (User.IsInRole(WC.AdminRole))
                        {
                            <div class="row">
                                <div class="col-12 text-right pr-4" style="color:#821f3d">
                                    Order Total : @string.Format("{0:c}", orderTotal)
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <div class="col-6 col-md-3 offset-md-6">
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" value="Update Cart"
                                           class="btn btn-info form-control" />
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-success form-control ">
                                    <span>Continue</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}
else
{
    <p>Please add items to cart.</p>
}