﻿@model onlineBooks_Models.product
@using onlineBooks_Utility

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ','_')">
    <!-- card-->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-body row px-3 pb-1">
            <div class="col-8">
                <label class="float-left">@Model.Name</label>
            </div>
            <div class="col-4">
                <label class="float-left"><span class="text-info h5">@string.Format("{0:c0}", Model.Price)</span></label>
            </div>
        </div>
        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WC.ImagePath@Model.Image" alt="card image cap" />
        <div class="card-body row px-3 p-1">
            <div class="col-6">
                <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Model.Category.Name</span>
            </div>
            <div class="col-6 border-0">
                <span class="badge p-2 border w-100 text-dark" style="background-color:aliceblue">@Model.ApplicationType.Name</span>
            </div>
            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                <p>@Model.ShortDesc</p>
            </div>
            <div class="col-12 p-1">
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control p-2 btn-sm" style="height:40px">ViewDetails</a>
            </div>
        </div>
    </div>
</div>