﻿@model onlineBooks_Models.product
@using onlineBooks_Utility


<form method="post">

    <input asp-for="Id" hidden />

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info">Delete Product</h2>
        </div>
        <div class="row">
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-group" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" disabled class="form-group" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Describtion"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Describtion" class="form-group summernote"></textarea>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Category.Name" disabled class="form-group" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ApplicationTypeId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ApplicationType.Name" disabled class="form-group" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">Delete</button>
                        </div>
                        <div class="col">
                            <a class="btn btn-success w-100" asp-action="Index"><i class="fas fa-sign-out-alt"></i> &nbsp; Back</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-4">
                @if (Model.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        $(document).ready(function () {
            $('.summernote').summernote(
                {
                    height: 200,
                    disable: true
                });
        });
    </script>
}
