﻿
@model IEnumerable<onlineBooks_Models.product>

<div class="container p-3">
    <div class="row pt-3">
        <div class="col-10">
            <h3 class="text-primary">Product List</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; New Product</a>
        </div>
    </div>
    <br>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width : 100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Application Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="30%">@obj.Name</td>
                    <td width="10%">@obj.Price</td>
                    <td width="20%">@obj.Category.Name</td>
                    <td width="20%">@obj.ApplicationType.Name</td>
                    <td class="text-center">
                        <div class="w-100 btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-route-Id="@obj.Id" asp-action="Upsert">
                                <i class="fas fa-edit"></i> &nbsp;
                            </a>
                            <a class="btn btn-danger mx-2" asp-route-Id="@obj.Id" asp-action="Delete">
                                <i class="fas fa-trash-alt"></i> &nbsp;
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No categories found!!</p>
    }
</div>
